.bg-orange{
    background-color: #F96C1B;
}
.text-white{
    color : #fff;
}
#menu .nav .nav-item .nav-link:hover{
    background-color: #F96C1B;
}
#menu .nav .nav-item .dropdown-menu .dropdown-item:hover{
    background-color: #F96C1B;
}
.slider{
    height: 400px;
    background-image: url("../images/slider.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.border-orange{
    border-color: #F96C1B !important;
}
#left-nav .nav .nav-item .nav-link{
    
    color : #000;
    font-weight: bold;
}
#left-nav .nav .nav-item .nav-link:hover{
    background-color: #F96C1B;
    color : #fff;
}